body{
    background-color: whitesmoke;
}

main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container-format {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 40vw;
    height: auto;
    margin: auto;
}

.format {
   margin: 2rem;
}

h2 {
    font-size: large;
}

a {
 color: black;
}


