<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Fog - Login</title>
    <link rel="icon" type="image/x-icon" href="/img/fog.jpeg">
    <link rel="stylesheet" href="/css/public/styles.css"/>
</head>
<body>

<header>
    <div th:insert="~{public/header :: header}"></div>
</header>

<main>
    <div class="form-container">
        <h1>Kundelogin</h1>
        <form action="/customer/login" method="post">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <label for="password">Adgangskode</label>
            <input type="password" name="password" id="password" required>

            <button type="submit" class="active">Log ind</button>
        </form>

        <div th:if="${error}" class="error-message" th:text="${error}"></div>
    </div>
</main>

<footer>
    <div th:insert="~{public/footer :: footer}"></div>
</footer>

</body>
</html>
