<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/public/styles.css"/>
    <title>Fog - QuickByg - Materialer</title>
</head>
<body>

<header>
    <div th:insert="~{public/header :: header}"></div>
</header>

<main>
    <div class="step-format">
        <div class="step-wrapper finish">
            <span class="step">1</span>
            <p>Mål</p>
        </div>

        <div class="line-connect finish-line"></div>

        <div class="step-wrapper finish">
            <span class="step">2</span>
            <p>Materiale</p>
        </div>

        <div class="line-connect"></div>

        <div class="step-wrapper">
            <span class="step">3</span>
            <p>Personlige oplysninger</p>
        </div>

        <div class="line-connect"></div>

        <div class="step-wrapper">
            <span class="step">4</span>
            <p>Bekræftelse</p>
        </div>
    </div>


    <div id="main-content">

        <h1>Vælg materialer</h1>
        <p>Udfyld nedenstående omhyggeligt og tryk "Videre".</p>
        <p> Felter markeret med <span style="color: red">*</span> SKAL udfyldes!</p>

        <!-- Fill form action if needed -->
        <form action="" method="post">
            <div class="form-group">
                <label for="post">Vælg stolpe<span style="color: red">*</span></label>
                <select name="postId" id="post" required>
                    <option value="" disabled selected>Vælg stolpe</option>
                    <option th:each="post : ${posts}" th:value="${post.itemId}" th:text="${post.name}"></option>
                </select>

                <label for="beam">Vælg rem<span style="color: red">*</span></label>
                <select name="beamId" id="beam" required>
                    <option value="" disabled selected>Vælg rem</option>
                    <option th:each="beam : ${beams}" th:value="${beam.itemId}" th:text="${beam.name}"></option>
                </select>

                <label for="rafter">Vælg spær<span style="color: red">*</span></label>
                <select name="rafterId" id="rafter" required>
                    <option value="" disabled selected>Vælg spær</option>
                    <option th:each="rafter : ${rafters}" th:value="${rafter.itemId}" th:text="${rafter.name}"></option>
                </select>

                <label for="fascia">Vælg stern<span style="color: red">*</span></label>
                <select name="fasciaId" id="fascia" required>
                    <option value="" disabled selected>Vælg stern</option>
                    <option th:each="fascia : ${fascias}" th:value="${fascia.itemId}" th:text="${fascia.name}"></option>
                </select>

                <label for="roofCover">Vælg tagbeklædning<span style="color: red">*</span></label>
                <select name="roofCoverId" id="roofCover" required>
                    <option value="" disabled selected>Vælg tagbeklædning</option>
                    <option th:each="roofCover : ${roofCovers}" th:value="${roofCover.itemId}"
                            th:text="${roofCover.name}"></option>
                </select>
            </div>

            <div class="form-button-align">
                <a th:href="${carport.shed != null} ? '/carport/step-1.1' : '/carport/step-1'" class="button-link">Tilbage</a>
                <button type="submit" class="active">Videre</button>
            </div>
        </form>
    </div>
</main>

<footer>
    <div th:insert="~{public/footer :: footer}"></div>
</footer>

</body>
</html>