<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/public/styles.css"/>
    <title>Fog - QuickByg - Materialer</title>
</head>
<body>

<header>
    <div th:insert="~{public/header :: header}"></div>
</header>

<main>
    <div class="step-format">
        <div class="step-wrapper finish">
            <span class="step">1</span>
            <p>Mål</p>
        </div>

        <div class="line-connect finish-line"></div>

        <div class="step-wrapper finish">
            <span class="step">2</span>
            <p>Materiale</p>
        </div>

        <div class="line-connect"></div>

        <div class="step-wrapper">
            <span class="step">3</span>
            <p>Personlige oplysninger</p>
        </div>

        <div class="line-connect"></div>

        <div class="step-wrapper">
            <span class="step">4</span>
            <p>Bekræftelse</p>
        </div>
    </div>


    <div id="main-content">

        <h1>Vælg materialer</h1>
        <p>Udfyld nedenstående omhyggeligt og tryk "Videre".</p>
        <p> Felter markeret med <span style="color: red">*</span> SKAL udfyldes!</p>

        <!-- Fill form action if needed -->
        <form action="" method="post">
            <div class="form-group">
                <label for="building-post">Stolper <span style="color: red">*</span></label>
                <select id="building-post" name="post">
                    <option hidden=""></option>
                    <option value="post1">post1</option>
                    <option value="post2">post2</option>
                    <option value="post3">post3</option>
                </select>
                <label for="building-beam">Spær <span style="color: red">*</span></label>
                <select id="building-beam" name="beam">
                    <option hidden=""></option>
                    <option value="beam1">beam1</option>
                    <option value="beam2">beam2</option>
                    <option value="beam3">beam3</option>
                </select>
                <label for="building-rafter">Remme <span style="color: red">*</span></label>
                <select id="building-rafter" name="rafter">
                    <option hidden=""></option>
                    <option value="rafter1">rafter1</option>
                    <option value="rafter2">rafter2</option>
                    <option value="rafter4">rafter4</option>
                </select>
                <label for="building-fascia">Stern<span style="color: red">*</span></label>
                <select id="building-fascia" name="fascia">
                    <option hidden=""></option>
                    <option value="fascia1">fascia1</option>
                    <option value="fascia2">fascia2</option>
                    <option value="fascia3">fascia3</option>
                </select>
            </div>
        </form>

        <div class="form-button-align">
            <form action="" method="GET">
                <button type="submit" class="active">Tilbage</button>
            </form>

            <form action="" method="GET">
                <button type="submit" class="active">Videre</button>
            </form>
        </div>
    </div>
</main>

<footer>
    <div th:insert="~{public/footer :: footer}"></div>
</footer>

</body>
</html>