<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<footer>
    <div class="footer-content">
        <div>
            <a href="#linktitle1" class="footer-title">Kundeservice</a>
            <div class="footer-links">
                <a href="#link1">Kontakt Fog</a>
                <a href="#link2">Ofte stillede spørgsmål</a>
                <a href="#link3">Købs- og leveringsvilkår online</a>
                <a href="#link4">Fortrydelse og returnering</a>
                <a href="#link5">Reklamation og klage</a>
                <a href="#link6">Fragt</a>
                <a href="#link7">Prismatch</a>
                <a href="#link8">Lån en trailer</a>
                <a href="#link9">Udlejning</a>
                <a href="#link10">Bliv kontokunde</a>
            </div>
        </div>
        <div>
            <a href="#linktitle1" class="footer-title">Aktuelt</a>
            <div class="footer-links">
                <a href="#link1">Mærker</a>
                <a href="#link2">Aviser og kataloger</a>
                <a href="#link3">Tilmeld nyhedsbrev</a>
                <a href="#link4">Inspiration & guides</a>
                <a href="#link5">LinkedIn</a>
                <a href="#link6">Instagram</a>
                <a href="#link7">Facebook</a>
            </div>
        </div>
        <div>
            <a href="#linktitle1" class="footer-title">Om Fog</a>
            <div class="footer-links">
                <a href="#link1">Åbningstider</a>
                <a href="#link2">Om Fog</a>
                <a href="#link3">Fogs Fond</a>
                <a href="#link4">Karriere i Fog</a>
                <a href="#link5">Bliv kontokunde i Fog</a>
                <a href="#link6">Persondatapolitik</a>
                <a href="#link7">Cookies</a>
            </div>
        </div>
        <div>
            <a href="#linktitle1" class="footer-title">Med omtanke</a>
            <div class="footer-links">
                <a href="#link1">CSR-rapporter</a>
                <a href="#link2">Certificering</a>
                <a href="#link3">Whistleblowerordning</a>
                <a href="#link4">Whistleblowerpolitik</a>
            </div>
        </div>
    </div>


    </div>
</footer>
</body>
</html>