<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Fog - Opret medarbejder</title>
    <link rel="icon" type="image/x-icon" href="/img/fog.jpeg">
    <link rel="stylesheet" href="/css/dashboard/dashboard-styles.css">
</head>
<body>

<header>
    <div th:insert="~{dashboard/dashboard-topbar :: dashboard-topbar}"></div>
</header>

<main>
    <div class="container">
        <h1>Kundeprofil</h1>

        <form class="carport-form" action="/dashboard/customers/update" method="post">
            <input type="hidden" name="customerId" th:value="${customer.userId}"/>

            <div class="form-grid-two">
                <div>
                    <label for="firstName">Fornavn</label>
                    <input type="text" id="firstName" name="firstName" th:value="${customer.firstName}" required>
                </div>

                <div>
                    <label for="lastName">Efternavn</label>
                    <input type="text" id="lastName" name="lastName" th:value="${customer.lastName}" required>
                </div>

                <div>
                    <label for="phone">Telefonnummer</label>
                    <input type="tel" id="phone" name="phone" th:value="${customer.phone}" required>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" th:value="${customer.email}" required>
                </div>
            </div>

            <div class="form-grid-three">
                <div>
                    <label for="address">Adresse</label>
                    <input type="text" id="address" name="address" th:value="${customer.address}" required>
                </div>

                <div>
                    <label for="postcode">Postnummer</label>
                    <input type="text" id="postcode" name="postcode" th:value="${customer.postcode}" required>
                </div>

                <div>
                    <label for="city">By</label>
                    <input type="text" id="city" name="city" th:value="${customer.city}" required>
                </div>
            </div>

            <div class="customer-action-group">
                <div class="two-button-row">
                    <button type="submit" class="default-button">Opdater kundeinfo</button>

                    <form action="/dashboard/customers/delete" method="post"
                          onsubmit="return confirm('Er du sikker på, at du vil slette kunden?')">
                        <input type="hidden" name="customerId" th:value="${customer.userId}" />
                        <button type="submit" class="remove-button">Slet kunde</button>
                    </form>
                </div>

                <form th:action="@{/dashboard/email-form}" method="get" class="full-width-form">
                    <input type="hidden" name="email" th:value="${customer.email}">
                    <button type="submit" class="default-button full-width-button">Send email</button>
                </form>
            </div>
        </form>

        <section class="material-section">
            <h2>Ordrer</h2>
            <table class="default-table">
                <thead>
                <tr>
                    <th>Ordre ID</th>
                    <th>Status</th>
                    <th>Totalpris</th>
                    <th>Se</th>
                    <th>Annuller</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}" th:classappend="${order.orderStatus == 'Annulleret'} ? 'cancelled-row'">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="${#numbers.formatDecimal(order.getTotalPrice(), 1, 2, 'COMMA')} + ' kr.'"></td>
                    <td>
                        <form method="get" action="/dashboard/order">
                            <input type="hidden" name="orderId" th:value="${order.orderId}"/>
                            <button type="submit" class="default-button">Se</button>
                        </form>
                    </td>
                    <td>
                        <form th:if="${order.orderStatus != 'Annulleret'}" method="post" action="/orders/cancel">
                            <input type="hidden" name="orderId" th:value="${order.orderId}"/>
                            <button type="submit" class="remove-button"
                                    onclick="return confirm('Er du sikker på, at du vil annullere denne ordre?')">
                                Annuller
                            </button>
                        </form>
                        <span th:if="${order.orderStatus == 'Annulleret'}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</main>

</body>
</html>