<div th:fragment="dashboard-topbar">
    <div class="dashboard-top-bar">
        <a href="/dashboard" class="icon logo-icon">
            <img src="/img/fog-logo.png">
        </a>

        <a href="/dashboard" class="icon">
            <img src="/img/dashboard/new-order.png">
            <p>New Order</p>
        </a>

        <a href="/dashboard/orders" class="icon">
            <img src="/img/dashboard/orders.png">
            <p>Orders</p>
        </a>

        <a href="/dashboard/customers" class="icon">
            <img src="/img/dashboard/customers.png">
            <p>Customers</p>
        </a>

        <a href="/dashboard/materials" class="icon">
            <img src="/img/dashboard/materials.png">
            <p>Materials</p>
        </a>

        <a href="/dashboard/staff-profile" class="icon">
            <img src="/img/dashboard/profile.png">
            <p>Profile</p>
        </a>

        <a href="/public" class="icon">
            <img src="/img/dashboard/logout.png">
            <p>Profile</p>
        </a>
    </div>
</div>