<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fog - Kunder</title>
    <link rel="icon" type="image/x-icon" href="/img/fog.jpeg">
    <link rel="stylesheet" href="/css/dashboard/dashboard-styles.css">
</head>
<body>

<header>
    <div th:insert="~{dashboard/dashboard-topbar :: dashboard-topbar}"></div>
</header>

<main>
    <div class="container">
        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>Kunde ID</th>
                    <th>Kunde email</th>
                    <th>Kunde telefon</th>
                    <th>Se profil</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer, iterStat : ${customers}">
                    <td th:text="${customer.userId}"></td>
                    <td>
                        <div class="email-with-button">
                            <span th:text="${customer.email}"></span>
                            <form action="/send-email" method="post" style="display:inline;">
                                <input type="hidden" name="index" th:value="${iterStat.index}">
                                <button type="submit" class="default-button">Send email</button>
                            </form>
                        </div>
                    </td>
                    <td th:text="${customer.phone}"></td>
                    <td>
                        <form action="/dashboard/customer" method="post">
                            <input type="hidden" name="customerId" th:value="${customer.userId}">
                            <button type="submit" class="default-button">Se profil</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>