<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Fog - Ordrer</title>
    <link rel="icon" type="image/x-icon" href="/img/fog.jpeg">
    <link rel="stylesheet" href="/css/dashboard/dashboard-styles.css">
</head>
<body>

<header>
    <div th:insert="~{dashboard/dashboard-topbar :: dashboard-topbar}"></div>
</header>

<main>
    <div class="container">
        <div class="filters">
            <div class="filter-group">
                <form method="get" action="/dashboard/orders">
                    <label for="status">Status:</label>
                    <select name="status" id="status" class="filter-select" onchange="this.form.submit()">
                        <option value="Alle" th:selected="${selectedStatus == 'Alle'}">Alle</option>
                        <option value="Forespørgsel" th:selected="${selectedStatus == 'Forespørgsel'}">Forespørgsel</option>
                        <option value="Betalt" th:selected="${selectedStatus == 'Betalt'}">Betalt</option>
                        <option value="Afsendt" th:selected="${selectedStatus == 'Afsendt'}">Afsendt</option>
                        <option value="Leveret" th:selected="${selectedStatus == 'Leveret'}">Leveret</option>
                        <option value="Annulleret" th:selected="${selectedStatus == 'Annulleret'}">Annulleret</option>
                    </select>
                </form>
            </div>
        </div>

        <div class="list">
            <table>
                <thead>
                <tr>
                    <th>Ordre ID</th>
                    <th>Status</th>
                    <th>Kunde navn</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Total pris</th>
                    <th>Se ordre</th>
                    <th>Annuller ordre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order, iterStat : ${orders}" th:classappend="${order.orderStatus == 'Annulleret'} ? 'cancelled-row'">
                <td th:text="${order.orderId}"></td>
                    <td th:text="${order.orderStatus}"></td>
                    <td th:text="|${order.customer.firstname} ${order.customer.lastname}|"></td>
                    <td>
                        <form th:action="@{/dashboard/email-form}" method="get">
                            <input type="hidden" name="email" th:value="${order.customer.email}">
                            <input type="hidden" name="orderId" th:value="${order.orderId}">
                            <button type="submit" class="default-button">Send email</button>
                        </form>
                    </td>
                    <td th:text="${order.customer.phone}"></td>
                    <td th:text="${#numbers.formatDecimal(order.totalPrice, 1, 2, 'COMMA')} + ' kr.'"></td>
                    <td>
                        <form action="/dashboard/order" method="get">
                            <input type="hidden" name="orderId" th:value="${order.orderId}">
                            <button type="submit" class="default-button">Se</button>
                        </form>
                    </td>
                    <td>
                        <form th:if="${order.orderStatus != 'Annulleret'}" action="/dashboard/orders/cancel" method="post">
                            <input type="hidden" name="orderId" th:value="${order.orderId}">
                            <button type="submit" class="remove-button" onclick="return confirm('Er du sikker på at slette ordren?')">Annuller</button>
                        </form>
                        <span th:if="${order.orderStatus == 'Annulleret'}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>