<div th:fragment="dashboard-topbar">
    <div class="dashboard-top-bar">
        <a href="/dashboard/" class="icon logo-icon">
            <img src="/img/fog-logo.png">
        </a>

        <a href="/dashboard/new-carport" class="icon">
            <img src="/img/dashboard/new-carport.png">
            <p>Ny Carport</p>
        </a>

        <a href="/dashboard/orders" class="icon">
            <img src="/img/dashboard/orders.png">
            <p>Ordre</p>
        </a>

        <a href="/dashboard/customers" class="icon">
            <img src="/img/dashboard/customers.png">
            <p>Kunder</p>
        </a>

        <a href="/dashboard/materials" class="icon">
            <img src="/img/dashboard/materials.png">
            <p>Materialer</p>
        </a>

        <a href="/dashboard/profile" class="icon">
            <img src="/img/dashboard/profile.png">
            <p>Profil</p>
        </a>

        <a href="/public" class="icon">
            <img src="/img/dashboard/logout.png">
            <p>Log ud</p>
        </a>
    </div>
</div>