<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Fog - QuickByg</title>
  <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-wrapper">
  <div th:insert="~{fragments/header :: header}"></div>

  <main>

    <div class="step-format">
      <div class="step-wrapper finish">
        <span class="step">1</span>
        <p>Mål</p>
      </div>

      <div class="line-connect finish-line"></div>

      <div class="step-wrapper finish">
        <span class="step">2</span>
        <p>Materiale</p>
      </div>

      <div class="line-connect finish-line"></div>

      <div class="step-wrapper finish">
        <span class="step">3</span>
        <p>Personlige oplysninger</p>
      </div>

      <div class="line-connect"></div>

      <div class="step-wrapper">
        <span class="step">4</span>
        <p>Bekræftelse</p>
      </div>
    </div>


    <div id="main-content">

      <h1>Kontaktoplysninger</h1>
      <p>Udfyld nedenstående omhyggeligt og tryk "Videre".</p>
      <p> Felter markeret med <span style="color: red">*</span> SKAL udfyldes!</p>

      <!-- Fill form action if needed -->
      <form action="" method="post">
        <div class="form-group">
          <label for="fname">Fornavn <span style="color: red">*</span></label>
          <input id="fname" type="text" name="fname">

          <label for="lname">Efternavn <span style="color: red">*</span></label>
          <input id="lname" type="text" name="lname">

          <label for="phone">Telefon nr <span style="color: red">*</span></label>
          <input type="tel" id="phone" name="phone" pattern="[0-9]{8}" required>

          <label for="email">Email <span style="color: red">*</span></label>
          <input type="email" id="email" name="email">
        </div>
      </form>

      <div class="form-button-align">
        <form action="" method="GET">
          <button type="submit" class="active">Tilbage</button>
        </form>
        <form action="" method="GET">
          <button type="submit" class="active">Videre</button>
        </form>
      </div>
    </div>
  </main>
  <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>