<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Fog - QuickByg</title>
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-wrapper">
    <div th:insert="~{fragments/header :: header}"></div>

    <main>

        <div class="step-format">
            <div class="step-wrapper finish">
                <span class="step">1</span>
                <p>Mål</p>
            </div>

            <div class="line-connect"></div>

            <div class="step-wrapper">
                <span class="step">2</span>
                <p>Materiale</p>
            </div>

            <div class="line-connect"></div>

            <div class="step-wrapper">
                <span class="step">3</span>
                <p>Personlige oplysninger</p>
            </div>

            <div class="line-connect"></div>

            <div class="step-wrapper">
                <span class="step">4</span>
                <p>Bekræftelse</p>
            </div>
        </div>


        <div id="main-content">

            <h1>Angiv mål</h1>
            <p>Udfyld nedenstående omhyggeligt og tryk "Videre".</p>
            <p> Felter markeret med <span style="color: red">*</span> SKAL udfyldes!</p>

            <!-- Fill form action if needed -->
            <form action="" method="post">
                <div class="form-group">
                    <label for="cwidth">Carport bredde <span style="color: red">*</span></label>
                    <select id="cwidth" name="width">
                        <option hidden=""></option>
                        <option value="bredde1">bredde1</option>
                        <option value="bredde2">bredde2</option>
                        <option value="bredde3">bredde3</option>
                    </select>
                    <label for="clength">Carport længde <span style="color: red">*</span></label>
                    <select id="clength" name="length">
                        <option hidden=""></option>
                        <option value="længde1">længde1</option>
                        <option value="længde2">længde2</option>
                        <option value="længde3">længde3</option>
                    </select>
                    <label for="ctrapez">Carport trapeztag <span style="color: red">*</span></label>
                    <select id="ctrapez" name="trapez">
                        <option hidden=""></option>
                        <option value="valg1">valg1</option>
                        <option value="valg2">valg2</option>
                    </select>
                </div>
            </form>

            <button onclick="toolShedShow()">Redskabskur tilvalg</button>

            <form action="" method="post">
                <div class="form-group" id="toolshed-div">
                    <div>
                        <label for="twidth">Redskabskur bredde <span style="color: red">*</span></label>
                        <select id="twidth" name="width">
                            <option hidden=""></option>
                            <option value="bredde1">bredde1</option>
                            <option value="bredde2">bredde2</option>
                            <option value="bredde3">bredde3</option>
                        </select>
                    </div>
                    <div>
                        <label for="tlength">Redskabskur længde <span style="color: red">*</span></label>
                        <select id="tlength" name="lenght">
                            <option hidden=""></option>
                            <option value="længde1">længde1</option>
                            <option value="længde2">længde2</option>
                            <option value="længde3">længde3</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="form-button-align">
                <form action="" method="GET">
                    <button type="submit" class="active">Tilbage</button>
                </form>
                <form action="" method="GET">
                    <button type="submit" class="active">Videre</button>
                </form>
            </div>

            <!-- Small script that hides the toolshed option -->

            <script>
                function toolShedShow() {
                    var x = document.getElementById("toolshed-div");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
        </div>
    </main>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>