<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Fog - QuickByg</title>
  <link href="/public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <link href="/public/css/summary.css" th:href="@{/css/summary.css}" rel="stylesheet"/>
</head>

<body>
<header>
  <div th:insert="~{fragments/header :: header}"></div>
</header>

<main>
  <div class="container-format">
    <div class="format">
      <h1>Din forespørgsel</h1>
      <p>
        Er dine kontakt oplysninger korrekte? <br>
        Tryk "Bestil tilbud" når du har tjekket dine angivet oplysninger.
      </p>

      <div class="container-box">
        <a href="customer-information.html">Ret oplysninger</a>
        <h2>Personlige Oplysninger</h2>
        <div class="customer-information">
          <p>Email: <span th:text="${placeholder}"></span></p>
          <p>Fornavn: <span th:text="${placeholder}"></span></p>
          <p>Efternavn: <span th:text="${placeholder}"></span></p>
          <p>Telefon: <span th:text="${placeholder}"></span></p>
          <p>Postnr: <span th:text="${placeholder}"></span></p>
          <p>By: <span th:text="${placeholder}"></span></p>
        </div>
      </div>

      <div class="container-box">
        <a href="size.html">Ret oplysninger</a>
        <h3>Mål</h3>
        <div class="size">
          <p>Bredde: <span th:text="${placeholder}"></span></p>
          <p>Længde: <span th:text="${placeholder}"></span></p>
          <p>trapeztag: <span th:text="${placeholder}"></span></p>
        </div>
      </div>

      <div class="container-box">
        <a href="material.html">Ret oplysninger</a>
        <h2>Materialer</h2>
        <div class="materials">
          <p>Stolper: <span th:text="${placeholder}"></span></p>
          <p>Spær: <span th:text="${placeholder}"></span></p>
          <p>Remme: <span th:text="${placeholder}"></span></p>
          <p>Stern: <span th:text="${placeholder}"></span></p>
        </div>
      </div>

      <div class="form-button-align">
        <form action="" method="GET">
          <button type="submit" class="active">Tilbage</button>
        </form>
        <form action="" method="GET">
          <button type="submit" class="active">Videre</button>
        </form>
      </div>
    </div>
  </div>
</main>

<footer>
  <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</body>
</html>